AWS_ACCESS_KEY_ID=
AWS_DEFAULT_REGION=
AWS_ENDPOINT_URL=
AWS_REGION=
AWS_REQUEST_CHECKSUM_CALCULATION=
AWS_RESPONSE_CHECKSUM_VALIDATION=
AWS_S3_ADDRESSING_STYLE=
AWS_S3_MULTIPART_CHUNKSIZE=
AWS_S3_MULTIPART_THRESHOLD=
AWS_SECRET_ACCESS_KEY=
HUGGINGFACE_API_KEY=
GEMINI_API_KEY=
MONGO_URI=